body {
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
header {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

* {
margin: 0%;
padding: 0%;
}

#slidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 400ms linear;
}

#slidebar.active {
    left: 0;
}

#slidebar ul li{
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

.Logo {
    display: block;
    margin: 0% auto;
}

#slidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20;
    cursor: pointer;
}

#slidebar .toggle-btn .arr-left{
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(255, 255, 255);
}

.arr-left {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 15px;
    transition: 0.4s ease;
}

.arr-left:hover {
    box-shadow: 0px 0px 20px black;
}

.arr-left div {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 8px solid #202020;
    border-left: 8px solid #202020;
    transform: rotate(45deg);
    left: 20px;
    top: 20px;
    align-items: center;
}

.arr-left {
    transform: rotate(-90deg);
}

.full-bg-mkw {
	background-image: url("../img/infinity-war-wallpaper.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	padding: 1px;
	box-sizing: border-box;
    justify-content: start;
}

.poster-content-mkw {
	padding: 20px;
	box-sizing: border-box;
   
}

.game_mkw {
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-left: 17%;
    
}

.release-date-mkw {
	color: rgb(0, 0, 0);
	font-size: 20px;
    margin-left: 17%;
    font-family: Arial, Helvetica, sans-serif;
}

.gamemkw {
    margin-left: 17%;
    height: 500px;
    transition: 500ms;
}

.gamemkw:hover {
    box-shadow: 0px 0px 20px black;
}

.poster-content-tlozss {
	padding: 20px;
	box-sizing: border-box;
  
}

.game_tlozss {
	color: rgb(0, 0, 0);
	font-size: 20px;
	
}

.release-date-tlozss {
	color: rgb(0, 0, 0);
	font-size: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.gametlozss {
    
    height: 500px;
    transition: 500ms;

}

.gametlozss:hover {
    box-shadow: 0px 0px 20px black;
}

.full-bg-tlozss {
	background-image: url("../img/infinity-war-wallpaper.jpg");
	background-size: cover;
	box-sizing: border-box;
}
.games-container {
	display: flex;
}

footer {
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0%;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }